body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    margin: 0;
    overflow: hidden;
}

.bg-image {
    position: absolute;
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0;
    visibility: hidden;
    z-index: 10;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

button {
    border-radius: 12px;
    cursor: pointer;
    background-color: hsla(37 100% 37% / 0.81);
    color:hsl(46 67.8% 92.8%);
    font-size: 15px;
    padding: 7px;
}

#mainButt {
    padding: 10px;
    margin: 10px;
    align-items: center;
}
#mainButt:active {
    transform: scale(1.2) ;
}

#numOfClicks {
    position: relative;
    font-size: 30px;
    color: rgb(71, 70, 70);
}

.upgrades {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
}

.upgrades button {
    flex: 0 1 auto;
    visibility: hidden;
}

/*#first-update {
    visibility: visible;
    border-color: black;
    border-style: solid;
    background-color: rgb(172, 141, 85);
}

#secondUpdate {
    visibility: hidden;
    border-color: black;
    border-style: solid;
    background-color: rgb(172, 141, 85);
}

*/